@import "../partials/params";
@import "../partials/mixins";

.about {
    background: blue;
    @include outline;
    width: 97%;
    margin: 5px;
    height: 700px;
    &__figure {
        margin: 0 10px 2px 0;
        @include outline;
        float: left;
    }
    &__img {
        max-width: 100%;
    }
    &__p-t {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 1.3rem;
        text-align: justify;
    }

}