@import "../partials/params";
@import "../partials/mixins";

.club {
    width:100%;
    margin-top: 10px;
    height:auto;
    padding: 40px 5px;
    background:#eeeeee;
    @include flex-column;
    color:#2A4C3B;
    &__img {
        max-width: 100%;
        padding-bottom: 3%;
    }
}
@media only screen and (max-width: 992px){
    .club{
        width: 100%;
    }
}