@import "../partials/params";
@import "../partials/mixins";

.club {
    width:100%;
    margin-top: 10px;
    height:auto;
    padding: 40px;
    background:#eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#2A4C3B;
    //@include outline;
    &__feature {
        width: 95%;
        height:auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media only screen and (max-width: 992px){
    .club{
        width: 100%;
    }
}