@import "../partials/params";
@import "../partials/mixins";

.contacts {
    background: green;
    @include outline;
    width: 97%;
    margin: 5px;
    height: 700px;
    &__article {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18rem;
    }

}
@media screen and (max-width: 992px){
    .contacts__article {
        font-size: 1.8rem;
    }

}