@import "../partials/params";
@import "../partials/mixins";

.footer {
    height: auto;
    width: 100%;
    background-color: $footer-bg-color;
    color: $footer-color;
    padding-bottom: 20px;
    &__header {
        background-color: #292929;
        width: 100%;
        height: 66px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        border-bottom: 2px solid $footer-color;
    }
    &__logo {
        font-weight: bolder;
        font-size: 1.2rem;
    }
    &__picture {

    }
    &__nav {
        @include clear-list;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        height: 100%;
        width: 600px;
        text-align: center;
        font-family: "Open Sans";
        font-size: 1rem;

        & .nav__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            border-left:solid 1px #1d1d1d;
            font-weight: 600;
            border-bottom: 5px solid #1d1d1d;
            & .item:last-child {
                border-right: solid 1px #1d1d1d;
            }
        }


        & .nav__link {
            text-transform: uppercase;
            color: $footer-color;
            transition: .3s all;
            &:hover {
                color: #ffffff;
            }
        }
    }
    &__content {
        width: 100%;
        @include  space-between;
        flex-flow: row wrap;
        line-height: 1.7;
        font-size: 0.9rem;
    }
    &__block {
        width: 30%;
        padding: 10px;
    }
    &__contact {
        width: 30%;
        &__icon {
            margin-right: 7px;
        }
    }

    &__wrap {
        padding: 20px;
    }
    &__text {
        font-size: 1.1rem;
    }
    &__map {
        width: 38%;
        display: flex;
        padding: 0 5px;
        border-right: 1px solid $footer-color;
        border-left: 1px solid $footer-color;
    }
    &__list {
        @include clear-list;
        width: 50%;
        font-size: 1rem;
        padding-right: 5px;
        & .list__item {
            padding: 5px;
        }
        & .list__link {
            color: $footer-color;
            &:hover {
                color: #fff;
            }

        }
        & .list__icon {
            padding: 3px;
        }

    }

}

@media only screen and (max-width: 992px) {
    .footer {
        width: 100%;

        &__content {
            display: flex;
            flex-direction: column;
            flex-flow: row wrap;
        }
        &__block {
            text-align: center;
            max-width: 100%;
            border-top: 1px solid $footer-color;
            border-bottom: 1px solid $footer-color;
        }
        &__map {
            height: auto;
            padding: 10px 0;
            max-width: 100%;
            display: flex;
            border-bottom: 1px solid $footer-color;
            border-left: none;
        }
        &__list {
            text-align: center;
            display: block;
            max-width: 100%;
        }
        &__contact {
            padding: 10px 0;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}