@import "../partials/params";
@import "../partials/mixins";


.section {
    display: none;

}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 2px;
    background: #777;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -1px;
}

.menu-btn span::before,
.menu-btn span::after {
    content: " ";
    display: block;
    transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn {
    display: none;
    margin: 15px 10px;
    z-index: 100;
    width: 40px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
@media screen and (max-width: 992px) {
    .menu-btn {
        display: block;
    }

    .section {
        z-index: 300;
        background: #fff;
        display: flex;
        align-items: center;
        right: 10px;
        border-radius: 50%;
    }
}

