@import "../partials/params";
@import "../partials/mixins";

.musk {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    position:relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    &:hover {
        background: rgba(0, 0, 0, .5);
        transition: .5s;
    }
    &__article {
        display: flex;
        justify-content: center;
    }
    &__text {

    }
    &__link {
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 1.9rem;
        color: $footer-color;
    }

}