@import "../partials/params";
@import "../partials/params";

.nav-main {
display: block;
   &__list {
       display: block;
       margin: 0;
       padding: 0;
       display:flex;
       justify-content:space-around;
     }
     &__item {
         display:block;
   }
    &__link {
        display: inline-block;
        margin: 0 10px;
        text-transform: uppercase;
        //@include transition(all, 0.35s, ease, 0s);
        &:hover {
            color: $hover-color;
        }

    }

}
@media screen and (max-width: 992px) {

display: block;
}