@import "../partials/params";
@import "../partials/mixins";

.title {
    width:90%;
    //@include outline;
    padding-top: 100px;
    padding-bottom: 70px;
    &__main {
        font-size:1.9rem;
        text-align: center;
    }
    &__text {
        font-size: 1.6rem;
        text-align: center;
    }
}
@media only screen and (max-width: 992px) {
    .title {
        width: 100%;
        padding: 50px 15px 015px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__main {
            font-size: 1.5rem;
        }
        &__text{
            font-size: 1.3rem;
        }
    }

}