@import "../partials/params";
@import "../partials/mixins";

@media only screen and (max-width: 992px) {
    .video {
       max-width: 100%;
        text-align: center;
    }
    &__one {
        max-width: 100%;
        text-align: center;
    }

}

