@import "../partials/params";
@import "../partials/mixins";

@media only screen and (max-width: 992px) {
    .video {
        margin: 50px auto;
        border-radius: 10px;
        display: block;
    }
    &__one {
        text-align: center;
    }

}

